<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.eclipse.gef4.zest.fx.example.ZestFXExampleView"
            id="org.eclipse.gef4.zest.fx.example.ZestFXExampleView"
            name="GEF4 Zest.FX Example View"
            restorable="true">
      </view>
   </extension>

</plugin>
