<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.eclipse.gef4.zest"
            name="Visualization">
      </category>
      <view
            class="org.eclipse.gef4.zest.fx.ui.view.DotGraphView"
            id="org.eclipse.gef4.zest.fx.ui.view.DotGraphView"
            icon="resources/icons/graph.gif"
            category="org.eclipse.gef4.zest"
            name="DOT Graph"
            restorable="true">
      </view>
   </extension>
</plugin>
