bin
target
.refactorings
plugin.xml_gen
.antlr-generator-3.2.0.jar
test.properties
org.eclipse.zest.tests/resources/output/*.dot
org.eclipse.zest.tests/resources/tests/*.png
.DS_Store
org.eclipse.zest.dot.ui/Graphviz_DOT_as_a_DSL_for_Zest
org.eclipse.zest.dot.ui/Zest
org.eclipse.zest.dot.ui/*-toc.xml
