bin
target
.refactorings
plugin.xml_gen
test.properties
org.eclipse.gef4.zest.tests/resources/output/*.dot
org.eclipse.gef4.zest.tests/resources/tests/*.png
.DS_Store
org.eclipse.gef4.zest.dot.ui/Graphviz_DOT_as_a_DSL_for_Zest
org.eclipse.gef4.zest.dot.ui/Zest
org.eclipse.gef4.zest.dot.ui/*-toc.xml
src-gen
