/*
 * classes:
 * .node: node visual
 * .node Rectangle: background rectangle of the node
 * .node Text: label of the node
 * .node ImageView: image of the node
 * .edge: connection visual
 * .edge .curve: connection line
 * .edge Text: connection label
 * .decoration: start/end arrow of a connection
 */

.node Rectangle {
	-fx-fill: rgb(135, 150, 220);
	-fx-stroke: rgb(99, 123, 71);
}

.node Text {
	-fx-fill: white;
}

.edge .curve {
	-fx-stroke: rgb(99, 123, 71);
	-fx-stroke-width: 1.5px;
}

.edge Text {
	-fx-fill: black;
}

.decoration {
	-fx-stroke: rgb(99, 123, 71);
	-fx-stroke-width: 1.5px;
	-fx-fill: white;
}