/*
 * classes:
 * .node: node visual
 * .node .shape: background rectangle of the node
 * .node .label: label of the node
 * .node .icon: icon of the node
 * .edge: connection visual
 * .edge .curve: connection line
 * .edge .label: connection label
 * .edge .decoration: start/end arrow of a connection
 */

.node .shape {
	-fx-fill: rgb(135, 150, 220);
	-fx-stroke: rgb(99, 123, 71);
}

.node .label {
	-fx-fill: white;
	-fx-font-size: 14;
	-fx-font-family: "Times New Roman";
}

.edge .curve {
	-fx-stroke: rgb(99, 123, 71);
	-fx-stroke-width: 1.5px;
}

.edge .label {
	-fx-fill: black;
	-fx-font-size: 14;
	-fx-font-family: "Times New Roman";
}

.edge .decoration {
	-fx-stroke: rgb(99, 123, 71);
	-fx-stroke-width: 1.5px;
	-fx-fill: white;
}