<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="zest" sequenceNumber="18">
<locations>
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.jet.sdk.feature.group" version="1.1.1.v201101271243-42186A5NsKEQPHRQeFaJS4A35"/>
<unit id="org.eclipse.xtext.sdk.feature.group" version="2.0.0.v201106070531"/>
<repository location="http://download.eclipse.org/releases/indigo"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.platform.sdk" version="3.7.0.I20110613-1736"/>
<repository location="http://download.eclipse.org/eclipse/updates/3.7"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.draw2d.sdk.feature.group" version="3.7.1.v20110830-1143-7A7I18yF5F18FCD4HAF849E78x42"/>
<repository location="http://download.eclipse.org/tools/gef/updates/releases"/>
</location>
</locations>
</target>
