<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   
   <!-- Graph view -->
   <extension
         point="org.eclipse.ui.views">
         <category
            id="org.eclipse.gef4.zest"
            name="Visualization">
      </category>
	   <view
	            name="Zest Graph"
	            icon="resources/icons/graph.gif"
	            category="org.eclipse.gef4.zest"
	            class="org.eclipse.gef4.zest.internal.dot.ZestGraphView"
	            id="org.eclipse.gef4.zest.dot.ZestView">
		</view>
	</extension>
	
	<!-- Help contents -->
    <extension point="org.eclipse.help.toc">
        <toc file="Zest-DOT-toc.xml" primary="true"/>
        <toc file="Zest-toc.xml" primary="true"/>
    </extension>
    
    <!-- DOT editor -->
    <extension
            point="org.eclipse.ui.editors">
        <editor
            class="org.eclipse.gef4.zest.internal.dot.parser.ui.DotExecutableExtensionFactory:org.eclipse.xtext.ui.editor.XtextEditor"
            contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
            default="true"
            extensions="dot"
            id="org.eclipse.gef4.zest.internal.dot.parser.Dot"
            name="Dot Editor">
        </editor>
    </extension>
    <extension
        point="org.eclipse.ui.handlers">
        <handler
            class="org.eclipse.gef4.zest.internal.dot.parser.ui.DotExecutableExtensionFactory:org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclarationHandler"
            commandId="org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclaration">
            <activeWhen>
                <reference
                    definitionId="org.eclipse.gef4.zest.internal.dot.parser.Dot.Editor.opened">
                </reference>
            </activeWhen>
        </handler>
        <handler
            class="org.eclipse.gef4.zest.internal.dot.parser.ui.DotExecutableExtensionFactory:org.eclipse.xtext.ui.editor.handler.ValidateActionHandler"
            commandId="org.eclipse.gef4.zest.internal.dot.parser.Dot.validate">
         <activeWhen>
            <reference
                    definitionId="org.eclipse.gef4.zest.internal.dot.parser.Dot.Editor.opened">
            </reference>
         </activeWhen>
      </handler>
    </extension>
    <extension point="org.eclipse.core.expressions.definitions">
        <definition id="org.eclipse.gef4.zest.internal.dot.parser.Dot.Editor.opened">
            <and>
                <reference definitionId="isActiveEditorAnInstanceOfXtextEditor"/>
                <with variable="activeEditor">
                    <test property="org.eclipse.xtext.ui.editor.XtextEditor.languageName" 
                        value="org.eclipse.gef4.zest.internal.dot.parser.Dot" 
                        forcePluginActivation="true"/>
                </with>        
            </and>
        </definition>
    </extension>
    <extension
            point="org.eclipse.ui.preferencePages">
        <page
            class="org.eclipse.gef4.zest.internal.dot.parser.ui.DotExecutableExtensionFactory:org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage"
            id="org.eclipse.gef4.zest.internal.dot.parser.Dot"
            name="Dot">
            <keywordReference id="org.eclipse.gef4.zest.internal.dot.parser.ui.keyword_Dot"/>
        </page>
        <page
            category="org.eclipse.gef4.zest.internal.dot.parser.Dot"
            class="org.eclipse.gef4.zest.internal.dot.parser.ui.DotExecutableExtensionFactory:org.eclipse.xtext.ui.editor.syntaxcoloring.SyntaxColoringPreferencePage"
            id="org.eclipse.gef4.zest.internal.dot.parser.Dot.coloring"
            name="Syntax Coloring">
            <keywordReference id="org.eclipse.gef4.zest.internal.dot.parser.ui.keyword_Dot"/>
        </page>
        <page
            category="org.eclipse.gef4.zest.internal.dot.parser.Dot"
            class="org.eclipse.gef4.zest.internal.dot.parser.ui.DotExecutableExtensionFactory:org.eclipse.xtext.ui.editor.templates.XtextTemplatePreferencePage"
            id="org.eclipse.gef4.zest.internal.dot.parser.Dot.templates"
            name="Templates">
            <keywordReference id="org.eclipse.gef4.zest.internal.dot.parser.ui.keyword_Dot"/>
        </page>
    </extension>
    <extension
        point="org.eclipse.ui.keywords">
        <keyword
            id="org.eclipse.gef4.zest.internal.dot.parser.ui.keyword_Dot"
            label="Dot"/>
    </extension>
    <extension
         point="org.eclipse.ui.commands">
      <command
            description="Trigger expensive validation"
            id="org.eclipse.gef4.zest.internal.dot.parser.Dot.validate"
            name="Validate">
      </command>
    </extension>
    <extension point="org.eclipse.ui.menus">
        <menuContribution
            locationURI="popup:#TextEditorContext?after=group.edit">
             <command
                 commandId="org.eclipse.gef4.zest.internal.dot.parser.Dot.validate"
                 style="push"
                 tooltip="Trigger expensive validation">
            <visibleWhen checkEnabled="false">
                <reference
                    definitionId="org.eclipse.gef4.zest.internal.dot.parser.Dot.Editor.opened">
                </reference>
            </visibleWhen>
         </command>  
         </menuContribution>
    </extension>
    <extension point="org.eclipse.ui.menus">
        <menuContribution locationURI="popup:#TextEditorContext?endof=group.find">
            <command commandId="org.eclipse.xtext.ui.editor.FindReferences">
                <visibleWhen checkEnabled="false">
                    <reference definitionId="org.eclipse.gef4.zest.internal.dot.parser.Dot.Editor.opened">
                    </reference>
                </visibleWhen>
            </command>
        </menuContribution>
    </extension>
    <extension point="org.eclipse.ui.handlers">
        <handler
            class="org.eclipse.gef4.zest.internal.dot.parser.ui.DotExecutableExtensionFactory:org.eclipse.xtext.ui.editor.findrefs.FindReferencesHandler"
            commandId="org.eclipse.xtext.ui.editor.FindReferences">
            <activeWhen>
                <reference
                    definitionId="org.eclipse.gef4.zest.internal.dot.parser.Dot.Editor.opened">
                </reference>
            </activeWhen>
        </handler>
    </extension>   

<!-- adding resource factories -->

    <extension
        point="org.eclipse.emf.ecore.extension_parser">
        <parser
            class="org.eclipse.gef4.zest.internal.dot.parser.ui.DotExecutableExtensionFactory:org.eclipse.xtext.resource.IResourceFactory"
            type="dot">
        </parser>
    </extension>
    <extension point="org.eclipse.xtext.extension_resourceServiceProvider">
        <resourceServiceProvider
            class="org.eclipse.gef4.zest.internal.dot.parser.ui.DotExecutableExtensionFactory:org.eclipse.xtext.ui.resource.IResourceUIServiceProvider"
            uriExtension="dot">
        </resourceServiceProvider>
    </extension>




    <!-- Quick Outline -->
    <extension
        point="org.eclipse.ui.handlers">
        <handler 
            class="org.eclipse.gef4.zest.internal.dot.parser.ui.DotExecutableExtensionFactory:org.eclipse.xtext.ui.editor.outline.quickoutline.ShowQuickOutlineActionHandler"
            commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline">
            <activeWhen>
                <reference
                    definitionId="org.eclipse.gef4.zest.internal.dot.parser.Dot.Editor.opened">
                </reference>
            </activeWhen>
        </handler>
    </extension>
    <extension
        point="org.eclipse.ui.commands">
        <command
            description="Open the quick outline."
            id="org.eclipse.xtext.ui.editor.outline.QuickOutline"
            name="Quick Outline">
        </command>
    </extension>
    <extension point="org.eclipse.ui.menus">
        <menuContribution
            locationURI="popup:#TextEditorContext?after=group.open">
            <command commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline"
                style="push"
                tooltip="Open Quick Outline">
                <visibleWhen checkEnabled="false">
                    <reference definitionId="org.eclipse.gef4.zest.internal.dot.parser.Dot.Editor.opened"/>
                </visibleWhen>
            </command>
        </menuContribution>
    </extension>
   <!-- quickfix marker resolution generator -->
   <extension
         point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
            class="org.eclipse.gef4.zest.internal.dot.parser.ui.DotExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator">
      </markerResolutionGenerator>
   </extension>
</plugin>
