<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.eclipse.gef4.mvc.fx.ui.example.view.FXExampleView"
            id="org.eclipse.gef4.mvc.javafx.example.FXExampleView"
            name="GEF4 MVC FX UI Example View"
            restorable="true">
      </view>
   </extension>

</plugin>
