<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/mbarbero/fr.obeo.releng.targetplatform -->
<target name="2019-03-old-fx" sequenceNumber="1574768350">
  <locations>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.fx.runtime.min.feature.feature.group" version="3.0.0.201705220748"/>
      <unit id="org.eclipse.sdk.ide" version="4.7.3.M20180330-0640"/>
      <repository location="http://download.eclipse.org/releases/oxygen"/>
    </location>
    <!-- <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.fx.runtime.min.feature.feature.group" version="3.3.0.201805280500"/>
      <unit id="org.eclipse.sdk.ide" version="4.8.0.I20180611-0500"/>
      <repository location="http://download.eclipse.org/releases/photon"/>
    </location> -->
    <!-- <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.fx.runtime.min.feature.feature.group" version="2.0.0.201506111452"/>
      <repository location="http://download.eclipse.org/efxclipse/updates-released/2.0.0/site"/>
    </location> -->
    <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
      <unit id="org.eclipse.emf.mwe2.runtime.sdk.feature.group" version="2.10.0"/>
      <unit id="org.eclipse.xtext.sdk.feature.group" version="2.17.0.v20190304-1445"/>
      <unit id="org.eclipse.emf.sdk.feature.group" version="2.17.0.v20190301-1325"/>
      <repository location="https://download.eclipse.org/releases/2019-03"/>
    </location>
    <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
      <unit id="de.itemis.xtext.antlr.feature.feature.group" version="2.1.1.v201405091103"/>
      <repository location="http://download.itemis.com/updates/releases/2.1.1"/>
    </location>
    <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
      <unit id="org.eclipse.license.feature.group" version="1.0.1.v20140414-1359"/>
      <repository location="http://download.eclipse.org/cbi/updates/license"/>
    </location>
    <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
      <unit id="org.objectweb.asm" version="7.0.0.v20181030-2244"/>
      <unit id="com.google.inject.assistedinject" version="3.0.0.v201402270930"/>
      <unit id="com.google.inject.assistedinject.source" version="3.0.0.v201402270930"/>
      <unit id="com.google.guava" version="21.0.0.v20170206-1425"/>
      <unit id="com.google.guava.source" version="21.0.0.v20170206-1425"/>
      <unit id="com.google.inject" version="3.0.0.v201605172100"/>
      <unit id="com.google.inject.source" version="3.0.0.v201605172100"/>
      <unit id="com.google.inject.multibindings" version="3.0.0.v201605172100"/>
      <unit id="com.google.inject.multibindings.source" version="3.0.0.v201605172100"/>
      <unit id="javax.xml" version="1.3.4.v201005080400"/>
      <unit id="org.junit" version="4.12.0.v201504281640"/>
      <unit id="org.junit.source" version="4.12.0.v201504281640"/>
      <repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20190226160451/repository"/>
    </location>
  </locations>
</target>
