<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/eclipse-cbi/targetplatform-dsl -->
<target name="NEON" sequenceNumber="1553244413">
  <locations>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.fx.runtime.min.feature.feature.group" version="2.4.0.201605100504"/>
      <unit id="org.eclipse.sdk.ide" version="4.6.3.M20170301-0400"/>
      <unit id="org.eclipse.emf.mwe2.runtime.sdk.feature.group" version="2.9.0.v201605261103"/>
      <unit id="org.eclipse.xtext.sdk.feature.group" version="2.10.0.v201605250459"/>
      <unit id="org.eclipse.emf.sdk.feature.group" version="2.12.0.v20160526-0356"/>
      <repository location="http://download.eclipse.org/releases/neon"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="de.itemis.xtext.antlr.feature.feature.group" version="2.1.1.v201405091103"/>
      <repository location="http://download.itemis.com/updates/releases/2.1.1"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.license.feature.group" version="1.0.1.v20140414-1359"/>
      <repository location="http://download.eclipse.org/cbi/updates/license"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="com.google.inject.assistedinject" version="3.0.0.v201402270930"/>
      <unit id="com.google.inject.assistedinject.source" version="3.0.0.v201402270930"/>
      <unit id="com.google.guava" version="15.0.0.v201403281430"/>
      <unit id="com.google.guava.source" version="15.0.0.v201403281430"/>
      <unit id="com.google.inject" version="3.0.0.v201312141243"/>
      <unit id="com.google.inject.source" version="3.0.0.v201312141243"/>
      <unit id="com.google.inject.multibindings" version="3.0.0.v201402270930"/>
      <unit id="com.google.inject.multibindings.source" version="3.0.0.v201402270930"/>
      <unit id="org.junit" version="4.11.0.v201303080030"/>
      <unit id="org.junit.source" version="4.11.0.v201303080030"/>
      <repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20150124073747/repository/"/>
    </location>
  </locations>
</target>
