<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.eclipse.gef4.mvc.examples.logo.ui.view.MvcLogoExampleView"
            id="org.eclipse.gef4.mvc.fx.ui.example.FXExampleView"
            name="GEF4 MVC Logo Example"
            restorable="true">
      </view>
   </extension>
   <extension point="org.eclipse.core.runtime.adapters">
		<factory
				class="org.eclipse.gef4.mvc.examples.logo.ui.properties.PropertySourceAdapterFactory"
				adaptableType="org.eclipse.gef4.mvc.examples.logo.model.AbstractFXGeometricElement">
			<adapter type="org.eclipse.ui.views.properties.IPropertySource"/>
		</factory>
	</extension>
</plugin>
