.node Rectangle {
	-fx-fill: white;
	-fx-stroke: black;
}

.node Text {
	-fx-fill: black;
}

.edge .curve {
	-fx-stroke: black;
	-fx-stroke-width: 1px;
}

.edge Text {
	-fx-fill: black;
}

.decoration {
	-fx-stroke: black;
	-fx-stroke-width: 1px;
	-fx-fill: white;
}