<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="KEPLER_4_3" sequenceNumber="27">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.sdk.ide" version="4.3.0.I20130605-2000"/>
<repository location="http://download.eclipse.org/eclipse/updates/4.3"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.fx.ide.basic.feature.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/efxclipse/updates-released/0.9.0/site/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.swt.tools" version="3.101.0.201302211459"/>
<repository location="http://www.eclipse.org/swt/updates/4.3"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="de.itemis.xtext.antlr.feature.feature.group" version="2.1.0.v201308291703"/>
<repository location="http://download.itemis.de/updates/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.xtext.sdk.feature.group" version="2.4.2.v201306120542"/>
<unit id="org.eclipse.gef.sdk.feature.group" version="3.9.1.201308190730"/>
<repository location="http://download.eclipse.org/releases/kepler"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.license.feature.group" version="1.0.1.v20140414-1359"/>
<repository location="http://download.eclipse.org/cbi/updates/license"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="com.google.inject.assistedinject" version="3.0.0.v201402270930"/>
<unit id="com.google.inject.source" version="3.0.0.v201312141243"/>
<unit id="com.google.inject.multibindings.source" version="3.0.0.v201402270930"/>
<unit id="com.google.inject" version="3.0.0.v201312141243"/>
<unit id="com.google.inject.multibindings" version="3.0.0.v201402270930"/>
<unit id="com.google.inject.assistedinject.source" version="3.0.0.v201402270930"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20140525021250/repository/"/>
</location>
</locations>
</target>
