/*
 * classes:
 * .node: node visual
 * .edge: connection visual
 * .decoration: start/end decoration of a connection
 * 
 * A node consists of a Rectangle and a Text, which can be styled separately.
 * An edge consists of a .curve and a Text, which can be styled separately.
 */

.node Rectangle {
	-fx-fill: rgb(135, 150, 220);
	-fx-stroke: rgb(99, 123, 71);
}

.node Text {
	-fx-fill: white;
}

.edge .curve {
	-fx-stroke: rgb(99, 123, 71);
	-fx-stroke-width: 1.5px;
}

.edge Text {
	-fx-fill: black;
}

/* TODO: the following should read .edge .decoration */
.decoration {
	-fx-stroke: rgb(99, 123, 71);
	-fx-stroke-width: 1.5px;
	-fx-fill: white;
}