/*
 * classes:
 * .node: node visual
 * .edge: connection visual
 * .decoration: start/end decoration of a connection
 * 
 * A node consists of a Rectangle and a Text, which can be styled separately.
 * An edge consists of a .curve and a Text, which can be styled separately.
 */

.node Rectangle {
	-fx-fill: lightblue;
	-fx-stroke: brown;
}

.node Text {
	-fx-fill: darkgreen;
}

.edge .curve {
	-fx-stroke-width: 1.5px;
}

.edge Text {
	-fx-fill: darkred;
}

/* TODO: the following should read .edge .decoration */
.decoration {
	-fx-stroke-width: 1.5px;
	-fx-fill: red;
}