<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.eclipse.gef4.cloudio.examples.application.ui.TagCloudViewPart"
            id="org.eclipse.gef4.zest.cloudio.sample.tagcloud"
            name="Tag Cloud View"
            restorable="true">
      </view>
   </extension>
      <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="File Actions"
            visible="true"
            id="file.actions">
           <action
               label="Export Image"
               class="org.eclipse.gef4.cloudio.examples.application.actions.ExportImageAction"
               tooltip="Export image"
               menubarPath="file/additions"
               id="org.eclipse.gef4.zest.cloudio.export">
               </action>
			<action
               label="Load Stopwords"
               class="org.eclipse.gef4.cloudio.examples.application.actions.LoadStopWordsAction"
               tooltip="Load stop word list"
               menubarPath="file/additions"
               id="org.eclipse.gef4.zest.cloudio.loadwords">
               </action>
         <action
               label="Load File"
               class="org.eclipse.gef4.cloudio.examples.application.actions.LoadFileAction"
               tooltip="Load a new File"
               menubarPath="file/additions"
               id="org.eclipse.gef4.zest.cloudio.loadfile">
         </action>
      </actionSet>
      <actionSet
            id="edit.actions"
            label="Edit Actions"
            visible="true">
         <action
               class="org.eclipse.gef4.cloudio.examples.application.actions.ZoomInAction"
               id="org.eclipse.gef4.zest.cloudio.zoomin"
               label="Zoom In"
               menubarPath="edit/zoom"
               style="push">
         </action>
         <action
               class="org.eclipse.gef4.cloudio.examples.application.actions.ZoomOutAction"
               id="org.eclipse.gef4.zest.cloudio.zoomout"
               label="Zoom Out"
               menubarPath="edit/zoom"
               style="push">
         </action>
         <action
               class="org.eclipse.gef4.cloudio.examples.application.actions.ZoomResetAction"
               id="org.eclipse.gef4.zest.cloudio.zoomreset"
               label="100 %"
               menubarPath="edit/zoom"
               style="push">
         </action>
         <action
               class="org.eclipse.gef4.cloudio.examples.application.actions.ZoomFitAction"
               id="org.eclipse.gef4.zest.cloudio.zoomfit"
               label="Fit Window"
               menubarPath="edit/zoom"
               style="push">
         </action>
         <action
               class="org.eclipse.gef4.cloudio.examples.application.actions.DeselectAllAction"
               id="org.eclipse.gef4.zest.cloudio.deselectall"
               label="Clear Selection"
               menubarPath="edit/select"
               style="push">
         </action>
          <action
                class="org.eclipse.gef4.cloudio.examples.application.actions.SelectAllAction"
                id="org.eclipse.gef4.zest.cloudio.selectall"
                label="Select All"
                menubarPath="edit/select"
                style="push">
         </action>
      </actionSet>
   </extension>
      
<extension
         id="application"
         name="Tag Cloud"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="org.eclipse.gef4.cloudio.examples.application.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.eclipse.gef4.cloudio.examples.application.PerspectiveFactory"
            id="org.eclipse.gef4.zest.cloudio.rcp.perspective"
            name="cloudPerspective">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.gef4.cloudio.examples.application.application"
            name="Cloudio Example Product">
         <property
               name="windowImages"
               value="eclipse.gif,eclipse32.gif,eclipse48.gif,eclipse.png,eclipse32.png">
         </property>
         <property
               name="aboutText"
               value="%productBlurb">
         </property>
         <property
               name="aboutImage"
               value="eclipse_lg.gif">
         </property>
         <property
               name="startupForegroundColor"
               value="C8D5EA">
         </property>
         <property
               name="startupProgressRect"
               value="0,280,455,15">
         </property>
         <property
               name="startupMessageRect"
               value="7,220,441,20">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="appName"
               value="Cloudio Example Product">
         </property>
      </product>
   </extension>
</plugin>
