<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
    Copyright (c) 2016 itemis AG and others.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
   
    Contributors:
        Alexander Nyßen (itemis AG) - initial API and implementation
 -->
<plugin>
   <extension point="org.eclipse.ui.activities">
     <activity
           description="Provides a TagCloud view to visualize tag/word clouds."
           id="org.eclipse.gef.cloudio.ui.capabilities.activity"
           name="Tag cloud visualization support">
     </activity>
     <category
           description="GEF Cloudio end-user features"
           id="org.eclipse.gef.cloudio.ui.capabilities.category"
           name="GEF Cloudio">
     </category>
     <categoryActivityBinding
           activityId="org.eclipse.gef.cloudio.ui.capabilities.activity"
           categoryId="org.eclipse.gef.cloudio.ui.capabilities.category">
     </categoryActivityBinding>
     <activityPatternBinding
           activityId="org.eclipse.gef.cloudio.ui.capabilities.activity"
           isEqualityPattern="false"
           pattern="org.eclipse.gef.cloudio.ui/.*">
     </activityPatternBinding>
     <defaultEnablement id="org.eclipse.gef.cloudio.ui.capabilities.activity"/>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.eclipse.gef"
            name="GEF">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.eclipse.gef.cloudio.internal.ui.view.TagCloudView"
            id="org.eclipse.gef.cloudio.internal.ui.view.TagCloud"
            category="org.eclipse.gef"
            name="GEF Tag Cloud"
            restorable="true">
      </view>
   </extension>
      <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="File Actions"
            visible="true"
            id="file.actions">
           <action
               label="Export Tag Cloud to Image"
               class="org.eclipse.gef.cloudio.internal.ui.actions.ExportImageAction"
               tooltip="Export tag cloud to image"
               menubarPath="file/additions"
               id="org.eclipse.gef.cloudio.internal.ui.actions.ExportImage">
           </action>
		   <action
               label="Load Stopwords from File"
               class="org.eclipse.gef.cloudio.internal.ui.actions.LoadStopWordsAction"
               tooltip="Load stopwords from file"
               menubarPath="file/additions"
               id="org.eclipse.gef.cloudio.internal.ui.actions.LoadStopWords">
               </action>
         <action
               label="Load Words from File"
               class="org.eclipse.gef.cloudio.internal.ui.actions.LoadFileAction"
               tooltip="Load words from file"
               menubarPath="file/additions"
               id="org.eclipse.gef.cloudio.internal.ui.actions.LoadFile">
         </action>
      </actionSet>
      <actionSet
            id="edit.actions"
            label="Edit Actions"
            visible="true">
         <action
               class="org.eclipse.gef.cloudio.internal.ui.actions.ZoomInAction"
               id="org.eclipse.gef.cloudio.internal.ui.actions.ZoomIn"
               label="Zoom In"
               menubarPath="edit/zoom"
               style="push">
         </action>
         <action
               class="org.eclipse.gef.cloudio.internal.ui.actions.ZoomOutAction"
               id="org.eclipse.gef.cloudio.internal.ui.actions.ZoomOut"
               label="Zoom Out"
               menubarPath="edit/zoom"
               style="push">
         </action>
         <action
               class="org.eclipse.gef.cloudio.internal.ui.actions.ZoomResetAction"
               id="org.eclipse.gef.cloudio.internal.ui.actions.ZoomReset"
               label="100 %"
               menubarPath="edit/zoom"
               style="push">
         </action>
         <action
               class="org.eclipse.gef.cloudio.internal.ui.actions.ZoomFitAction"
               id="org.eclipse.gef.cloudio.internal.ui.actions.ZoomFit"
               label="Fit Window"
               menubarPath="edit/zoom"
               style="push">
         </action>
         <action
               class="org.eclipse.gef.cloudio.internal.ui.actions.DeselectAllAction"
               id="org.eclipse.gef.cloudio.internal.ui.actions.DeselectAll"
               label="Clear Selection"
               menubarPath="edit/select"
               style="push">
         </action>
          <action
                class="org.eclipse.gef.cloudio.internal.ui.actions.SelectAllAction"
                id="org.eclipse.gef.cloudio.internal.ui.actions.SelectAll"
                label="Select All"
                menubarPath="edit/select"
                style="push">
         </action>
      </actionSet>
   </extension>
</plugin>
